@model IEnumerable<StackOverFlow.Models.journies>
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<body>

    <div class="container my-3" style="width:90%">
        <div class="row">
            <div class="col-9" style="width:65%">
                <h4 style="font-style:italic;">Be one of those who influence others and share them your experience </h4>
            </div>
            <div class="col-3 text-center">
                @Html.ActionLink("Add Your Journey", "addJourney", "Journey", null, new { @class = "page-link" })
            </div>
        </div>
    </div>
    @{
        <div class="container">
            @foreach (var journey in Model)
            {

                <div class="row" style="border:solid 2px black; margin-top:10px; margin-bottom:10px; ">
                    <div class="col-12">
                        <p style="font-size:22px; color:royalblue; ">" @Html.ActionLink(journey.title, "journeyDetails", "Journey", new { id = journey.journey_ID, pageIndex = journey.pageIndxer }, new { @style = "text-decoration:none;" }) "</p>
                        <p><label class="mx-2"> IN @journey.date</label><label style="color:royalblue;">by  @journey.username / @journey.GetUniversity(journey.GetProfile(journey.creator_ID).university_ID).Name /  @journey.GetProfile(journey.creator_ID).major </label> </p>
                    </div>
                </div>
            }

        </div>
    }
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.FirstOrDefault() != null)
                {
                    if (Model.First().nbPages == 1)
                    {
                        <li class="page-item">@Html.ActionLink("1", "Journey", "Home", new { nbPages = 1 }, new { @class = "page-link" })</li>
                    }
                    else if (Model.First().nbPages > 1 && Model.First().pageIndxer == 1)
                    {
                        <li class="page-item">@Html.ActionLink("" + Model.First().pageIndxer, "Journey", "Home", new { nbPages = Model.First().pageIndxer }, new { @class = "page-link" })</li>
                        <li class="page-item">@Html.ActionLink("Next", "Journey", "Home", new { nbPages = Model.First().pageIndxer + 1 }, new { @class = "page-link" })</li>
                    }

                    else if (Model.First().nbPages == Model.First().pageIndxer)
                    {
                        <li class="page-item">@Html.ActionLink("Pervious", "Journey", "Home", new { nbPages = Model.First().pageIndxer - 1 }, new { @class = "page-link" })</li>
                        <li class="page-item">@Html.ActionLink("" + Model.First().pageIndxer, "Journey", "Home", new { nbPages = Model.First().pageIndxer }, new { @class = "page-link" })</li>
                    }
                    else if (Model.First().nbPages >= 2 && Model.First().pageIndxer > 1)
                    {
                        <li class="page-item">@Html.ActionLink("Pervious", "Journey", "Home", new { nbPages = Model.First().pageIndxer - 1 }, new { @class = "page-link" })</li>
                        <li class="page-item">@Html.ActionLink("" + Model.First().pageIndxer, "Journey", "Home", new { nbPages = Model.First().pageIndxer }, new { @class = "page-link" })</li>
                        <li class="page-item">@Html.ActionLink("Next", "Journey", "Home", new { nbPages = Model.First().pageIndxer + 1 }, new { @class = "page-link" })</li>


                    }
                }



            </ul>
        </nav>
    </div>
    

</body>
