@model IEnumerable<StackOverFlow.Models.tagModel>
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<body>
    
    @{
        <div class="container" style="border:2px solid black; margin-top:10px; margin-bottom:5px;">
            <div class="row" style=" margin-top:10px; margin-bottom:10px;">
                    <div class="col-12" style="width:93%;">
                        @using (@Html.BeginForm("searchTags", "Question", "search"))
                        {
                            <input class="form-control hi " style="margin-top: 15px;" type="search" placeholder="Search For a specific tag" name="searchtg" aria-label="Search">
                        }
                    </div>
                @foreach (var tag in Model)
                {


                    <div class="col-lg-4 col-md-4 col-sm-2">
                        <div class="card my-3" style="width: 20rem;">
                            <div class="card-body">
                              <p style="font-size:15px; text-decoration:none; background-color:lightgray; padding:10px;">@Html.ActionLink(tag.text,"tagDetails","Question",new { nbPages=1 ,tag=tag.text},new { @style= "text-decoration:none; font-size:20px;" })</p>
                              <p>Used in <label style="color:red;">@tag.nbUsedInQuest</label> questions.</p>
                            </div>
                        </div>

                    </div>

                }
            </div>
        </div>
        }
    @{
        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (Model.FirstOrDefault() != null)
                    {
                        if (Model.First().nbPages == 1)
                        {
                            <li class="page-item">@Html.ActionLink("1", "Tag", "Home", new { nbPages = 1 }, new { @class = "page-link" })</li>
                        }
                        else if (Model.First().nbPages > 1 && Model.First().pageIndex == 1)
                        {
                            <li class="page-item">@Html.ActionLink("" + Model.First().pageIndex, "Tag", "Home", new { nbPages = Model.First().pageIndex }, new { @class = "page-link" })</li>
                            <li class="page-item">@Html.ActionLink("Next", "Tag", "Home", new { nbPages = Model.First().pageIndex + 1 }, new { @class = "page-link" })</li>
                        }

                        else if (Model.First().nbPages == Model.First().pageIndex)
                        {
                            <li class="page-item">@Html.ActionLink("Pervious", "Tag", "Home", new { nbPages = Model.First().pageIndex - 1 }, new { @class = "page-link" })</li>
                            <li class="page-item">@Html.ActionLink("" + Model.First().pageIndex, "Tag", "Home", new { nbPages = Model.First().pageIndex }, new { @class = "page-link" })</li>
                        }
                        else if (Model.First().nbPages >= 2 && Model.First().pageIndex  > 1)
                        {
                            <li class="page-item">@Html.ActionLink("Pervious", "Tag", "Home", new { nbPages = Model.First().pageIndex - 1 }, new { @class = "page-link" })</li>
                            <li class="page-item">@Html.ActionLink("" + Model.First().pageIndex, "Tag", "Home", new { nbPages = Model.First().pageIndex }, new { @class = "page-link" })</li>
                            <li class="page-item">@Html.ActionLink("Next", "Tag", "Home", new { nbPages = Model.First().pageIndex + 1 }, new { @class = "page-link" })</li>


                        }
                    }



                </ul>
            </nav>
        </div>
    }
</body>
